.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 8rem 0rem 8rem;
    min-height: 100vh;
}

.section {
    display: flex;
    gap: 3rem;
}